<template name="DefualtLayout">
    <div id="PublicContainer">
    <div class="ui secondary pointing menu">
      <a class="item">
        <i class="terminal icon"></i> Docs
      </a>
      {{#linkTo route="examples.link" class="item"}}
        <i class="block layout icon"></i> Examples
      {{/linkTo}}
      <div class="right menu">
        <div class="ui large label blue">
          Page Happy :)
        </div>
      </div>
    </div>
      <div id="content_Wrapper">
        {{> yield}}
      </div>
    </div>
</template>
