@import 'elf'
// debug(color = gray)

#pageHappyUI_Container
  span(1)
  margin-top: -15px;

#spotlight_Wrapper
  .table_Wrapper
    column(1/2)
    height: auto
  .spotlight
    background: rgba(0, 128, 0, 0.51)

  .spotlightOptions_Wrapper
    column(1/2)
    height: auto
    background: transparent !important
    .segment
      // background: transparent !important
      .buttons
        span(1/1)
      .button
        span(1/3)
        background: rgba(247, 247, 247, 1) !important
    