@import 'elf'
// debug(color = gray)

#pageHappyUI_Container
  .pagShadow
    position: relative;
    height: 10px;
    background: transparent;
    width: 100%;
    top:6px;
    opacity: 0.6
  .pag-menu
    position: relative
    background: rgb(247, 247, 247) !important
    margin: 0
    display: flex
    flex-wrap: wrap;
    .item
      flex-grow: 1;
      text-align: center;
      transition: all 0.2s ease-in-out;
      &:first-child
        flex-grow: 0.5;
        padding-top: 5px
        padding-bottom: 5px
        i
          span(1)
        input
          span(1)
      &:last-child
        flex-grow: 0.5;
        padding-top: 5px
        padding-bottom: 5px
        i
          span(1)
        input
          span(1)
    .pag-pageSelection
      width: 100% !important
    #pag_dropdownSearch
      padding-left: 3.07142em !important
      padding-right: 1em !important
    .text
      width: 20px
      text-align: center
    //Arrows
    .pag-arrow
      &:hover
        .icon
          transition: all 0.2s ease-in-out;
          color: rgba(0, 0, 0, 0.8)
      .icon
        transition: all 0.2s ease-in-out;
        font-size: 2rem
        color: rgba(90, 90, 90, 0.8)
    .disabled
      &:hover
        .icon
          color: rgba(90, 90, 90, 0.2)
      .icon
        color: rgba(90, 90, 90, 0.2)