<template name="examples">
  <h2 class="ui header">
    <i class="gear icon"></i>
    <div class="content">
      Uptime Guarantee
    </div>
  </h2>

<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">One Million Collection</div>
      <div class="description">
        A single collection with one million records, yes a million.
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      Go To Example
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Insight</div>
      <div class="description">
        Hopefully this helps you get a better understanding about what is going
        on here.
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      {{#linkTo route="insight.link"}}
        Go To Example
      {{/linkTo}}
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">One Million Collection</div>
      <div class="description">
        A single collection with one million records, yes a million.
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      Go To Example
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Spotlight</div>
      <div class="description">
        What the spolight feture is all about.
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="add icon"></i>
      {{#linkTo route="spotlight.link"}}
        Go To Example
      {{/linkTo}}
    </div>
  </div>
</div>
</template>