@import 'elf'
//debug(color = gray)

  
.cards
  .content
    height: 125px;

.pageData_Container
  span(1)
  position: relative
  height: 550px
  // overflow: scroll 

#Loading
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: rgba(209, 63, 25, 0.59)
  

.box1
  span(1/2)
.box2
  span(1/2)
  height: 800px
  .stats
    height: 125px
  .data
    height: 575px
    overflow: scroll
    ul
      span(1)
      padding: 0px
      margin: 0px
      li
        span(1/4)
        // list-style-type: none;
      
// .inner
//   span(1)
//   height: 800px
.highlight
  background: rgba(0, 128, 0, 0.51)